<h1>Contact Reviews by Admin</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each ob}}
        <tr>
            <td>{{this.Record.Name}}</td>
            <td>{{this.Record.Email}}</td>
            <td>{{this.Record.Message}}</td>
            
        </tr>
        {{/each}}
    </tbody>
</table>