<div class="page-head_agile_info_w3l">

</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
	<div class="agile_inner_breadcrumb">
		<div class="container">
			<ul class="w3_short">
				<li>
					<a href="/">Home</a>
					<i>|</i>
				</li>
				<li>About Us</li>
			</ul>
		</div>
	</div>
</div>
<!-- //page -->

<!-- about -->
<div class="welcome py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<!-- tittle heading -->
		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
			<span>A</span>bout
			<span>U</span>s</h3>
		<!-- //tittle heading -->
		<div class="row">
			<div class="col-lg-6 welcome-left">
				<h3>Welcome</h3>
				<h4 class="my-sm-5 my-2">Bebsha Bazar is an E-commerce site in which hyperledger fabric is
					integrated so that maximum security throughput can be enabled.
				</h4>
				<h3>Site Created By:</h3>
				<p>Md. Mahir Labib</p>
				<p>Tanvir Hossain</p>
			</div>
			<div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
				<img src="images/ab.jpg" class="img-fluid" alt=" ">
			</div>
		</div>
	</div>
</div>
<!-- //about -->

<!-- testimonials -->
<div class="testimonials py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<!-- tittle heading -->
		<h3 class="tittle-w3l text-center text-white mb-lg-5 mb-sm-4 mb-3">
			<span>O</span>ur
			<span>C</span>ustomers
			<span>S</span>ays</h3>
		<!-- tittle heading -->
		<div class="row gallery-index">
			<div class="col-sm-6 med-testi-grid">
				<div class="med-testi test-tooltip rounded p-4">
					<p>"The website is under development"</p>
				</div>
				<div class="row med-testi-left my-5">
					<div class="col-lg-2 col-3 w3ls-med-testi-img">
						<img src="images/user.jpg" alt=" " class="img-fluid rounded-circle" />
					</div>
					<div class="col-lg-10 col-9 med-testi-txt">
						<h4 class="font-weight-bold mb-lg-1 mb-2">Rafi</h4>
						<p>Software Developer</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 med-testi-grid">
				<div class="med-testi test-tooltip rounded p-4">
					<p>"website e aro unnoti dorkar"</p>
				</div>
				<div class="row med-testi-left my-5">
					<div class="col-lg-2 col-3 w3ls-med-testi-img">
						<img src="images/user.jpg" alt=" " class="img-fluid rounded-circle" />
					</div>
					<div class="col-lg-10 col-9 med-testi-txt">
						<h4 class="font-weight-bold mb-lg-1 mb-2">Dipto</h4>
						<p>Research Scientist</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 med-testi-grid">
				<div class="med-testi test-tooltip rounded p-4">
					<p>"anek kichu thik thak korte hobe, valoi though"</p>
				</div>
				<div class="row med-testi-left mt-sm-5 my-5">
					<div class="col-lg-2 col-3 w3ls-med-testi-img">
						<img src="images/user.jpg" alt=" " class="img-fluid rounded-circle" />
					</div>
					<div class="col-lg-10 col-9 med-testi-txt">
						<h4 class="font-weight-bold mb-lg-1 mb-2">Partha</h4>
						<p>Game Developer</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 med-testi-grid">
				<div class="med-testi test-tooltip rounded p-4">
					<p>"E-commerce is on the booom in Bangladesh."</p>
				</div>
				<div class="row med-testi-left mt-5">
					<div class="col-lg-2 col-3 w3ls-med-testi-img">
						<img src="images/user.jpg" alt=" " class="img-fluid rounded-circle" />
					</div>
					<div class="col-lg-10 col-9 med-testi-txt">
						<h4 class="font-weight-bold mb-lg-1 mb-2">Tanvir</h4>
						<p>Software Engineer</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>