

	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="/">Home</a>
						<i>|</i>
					</li>
					<li>Faqs</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->

	<!-- Faqs -->
	<div class="faqs-w3l py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>F</span>aqs
			</h3>
			<!-- //tittle heading -->
			<h3 class="w3-head mb-2">Top Frequently asked questions</h3>
			<div class="faq-w3agile">
				<ul class="faq pl-4">
					<li class="item1 mt-3 pl-2">
						<a href="#" title="click here">Are all the products good ?</a>
						<ul>
							<li class="subitem1">
								<p> This is totally depended on the seller.</p>
							</li>
						</ul>
					</li>
					<li class="item2 mt-3 pl-2">
						<a href="#" title="click here">Does the price of the product remain same all the time ?</a>
						<ul>
							<li class="subitem1">
								<p> Seller can change their product price any time.</p>
							</li>
						</ul>
					</li>
					<li class="item3 mt-3 pl-2">
						<a href="#" title="click here">Sign in and signup </a>
						<ul>
							<li class="subitem1">
								<p> Easy method to sign in and sign up</p>
							</li>
						</ul>
					</li>
					<li class="item4 mt-3 pl-2">
						<a href="#" title="click here">Are products available for reseller ?</a>
						<ul>
							<li class="subitem1">
								<p> No</p>
							</li>
						</ul>
					</li>
					<li class="item5 mt-3 pl-2">
						<a href="#" title="click here">How products will be delivered ?</a>
						<ul>
							<li class="subitem1">
								<p> Through Sundabans courier service or our courier service.</p>
							</li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</div>
	<!-- //Faqs -->