<!-- banner-2 -->
<div class="page-head_agile_info_w3l">

</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
	<div class="agile_inner_breadcrumb">
		<div class="container">
			<ul class="w3_short">
				<li>
					<a href="/">Home</a>
					<i>|</i>
				</li>
				<li>Help</li>
			</ul>
		</div>
	</div>
</div>
<!-- //page -->

<!-- help -->
<div class="faqs-w3l py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<!-- tittle heading -->
		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
			<span>H</span>elp
			<span>P</span>age
		</h3>
		<!-- //tittle heading -->
		<!-- help content -->
		<div class="wthree-help mb-sm-5 mb-4">
			<div class="agile-left-help">
				<h3 class="w3-head">How Can We help you</h3>
				<form action="/help" method="post">
					<textarea placeholder="Your Query" id="message" name="message" required=""></textarea>
					<input type="submit" value="Submit" id="submit">
				</form>
				<h5 class="my-sm-4 my-3">OR</h5>
				<a href="/contact">Contact Us</a>
			</div>
		</div>
		<!-- //help content -->
		
	</div>
</div>
<!-- //help -->