<!-- banner-2 -->
<div class="page-head_agile_info_w3l">

</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
	<div class="agile_inner_breadcrumb">
		<div class="container">
			<ul class="w3_short">
				<li>
					<a href="/">Home</a>
					<i>|</i>
				</li>
				<li>Privacy Policy</li>
			</ul>
		</div>
	</div>
</div>
<!-- //page -->

<!-- privacy -->
<div class="terms py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<!-- tittle heading -->
		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
			<span>P</span>rivacy
			<span>P</span>olicy</h3>
		<!-- //tittle heading -->
		<h6 class="my-md-4 my-3">Privacy Policy</h6>
		<p class="font-weight-light pl-sm-4 mb-2">We value the trust you place in us. That's why we insist upon the
			highest standards for secure transactions and customer
			information privacy. Please read the following statement to learn about our information gathering and
			dissemination practices.
		</p>
		<p class="font-weight-light pl-sm-4 mb-2">We value the trust you place in us. That's why we insist upon the
			highest standards for secure transactions and customer
			information privacy. Please read the following statement to learn about our information gathering and
			dissemination practices. </p>

		<h6 class="my-md-4 my-3">Personally Identifiable Information and other Information</h6>
		<p class="font-weight-light pl-sm-4 mb-2">We value the trust you place in us. That's why we insist upon the
			highest standards for secure transactions and customer
			information privacy. Please read the following statement to learn about our information gathering and
			dissemination practices.
		</p>

		<h6 class="my-md-4 my-3">Security Precautions</h6>
		<p class="font-weight-light pl-sm-4 mb-2">We value the trust you place in us. That's why we insist upon the
			highest standards for secure transactions and customer
			information privacy. Please read the following statement to learn about our information gathering and
			dissemination practices.</p>

		<h6 class="my-md-4 my-3">What Information Can I Access?</h6>
		<p class="font-weight-light pl-sm-4 mb-2"> Your personal informations after you login and products</p>
	

		<h6 class="my-md-4 my-3">Statistical Information</h6>
		<p class="font-weight-light pl-sm-4 mb-2">We use your Statistical informations for better
			user friendly use.
		</p>

		<h6 class="my-md-4 my-3">User Consent</h6>
		<ol start="1" class="pl-sm-4 pl-3">
			<li>If you use this site then you are giving consent to track what you like or what you not</li>
			<li>You personal informations  wont be sold</li>
		</ol>
		<h6 class="mb-md-4 mb-3">Policy updates</h6>
		<p class="font-weight-light pl-sm-4 mb-2"> In case of policy updates we will let you know.</p>
	</div>
</div>