<!-- //navigation -->

<!-- banner-2 -->
<div class="page-head_agile_info_w3l">

</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
	<div class="agile_inner_breadcrumb">
		<div class="container">
			<ul class="w3_short">
				<li>
					<a href="/">Home</a>
					<i>|</i>
				</li>
				<li>Terms</li>
			</ul>
		</div>
	</div>
</div>
<!-- //page -->

<!-- terms -->
<div class="terms py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<!-- tittle heading -->
		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
			<span>T</span>erms
			<span>O</span>f
			<span>U</span>se </h3>
		<!-- //tittle heading -->
		<h3 class="w3-head w3-secong-head text-capitalize">please read these terms and conditions carefully.</h3>
		<h6 class="my-md-4 my-3">Personal Information</h6>
		<ol start="1" class="pl-sm-4 pl-3">
			<li class="font-weight-light pl-sm-4 mb-2">Your personal informations will be secured using blockchain technology.</li>
			<li class="font-weight-light pl-sm-4 mb-2">We use Secure protocol mongodb and secure couchdb as our database</li>
			<li class="font-weight-light pl-sm-4 mb-2">Hyperledger blockchain integration helps us to secure transactions and tracking
				the progress of your product conditions.
			</li>
		</ol>

		<h6 class="my-md-4 my-3">License & Site access</h6>
		<p class="font-weight-light pl-sm-4 mb-2">This site is under ISC or MIT License(Github)</p>
		<p class="font-weight-light pl-sm-4 mb-2">Site access is allowed for all who are visiting the site. </p>
		<p class="font-weight-light pl-sm-4 mb-2">Only logged in customers will be able to buy products here!</p>

		<h6 class="my-md-4 my-3">Eligibility :</h6>
		<p class="font-weight-light pl-sm-4 mb-2">
			If you are logged in you are eligible to buy products from us.
		</p>
		

		<h6 class="my-md-4 my-3">Account & Registration</h6>
		<p class="font-weight-light pl-sm-4 mb-2">Easy sign in and signup process</p>
		

		<h6 class="my-md-4 my-3">Cancellation by Site / Customer</h6>
		<p class="font-weight-light pl-sm-4 mb-2"> You can cancel your order within 24 hours only</p>
		<p class="font-weight-light pl-sm-4 mb-2"> Cancellation by site depends on the provider</p>

		<h6 class="my-md-4 my-3">You Agree and Confirm</h6>
		<p class="font-weight-light pl-sm-4 mb-2">Bebsha Bazar agreement policy has not been set yet.
		</p>
		<h6 class="my-md-4 my-3">Copyright & Trademark</h6>
		<p class="font-weight-light pl-sm-4 mb-2"> Bebsha Bazar: Blockbased decentralized website</p>
	</div>
</div>
<!-- //terms -->