<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin/ledger">Bebshabazar Admin Section</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/admin/ledger">Product Tracking</a></li>
      <li><a href="/admin/verifyproducts">Verify Products</a></li>
      <li><a href="/admin/viewcontact">View Contacts</a></li>
      <li><a href="/admin/viewquery">View Queries</a></li
    </ul>
    
  </div>
</nav>